@media (max-width: 1605px) {
header.style2 .menu-box-inner nav {width: 89%;}
header.style2 .menu-box-inner nav > div > ul.top-info {margin-left: 0;}
.paddlr65 {padding: 0 3% !important;}
main.sec-bg {margin-top: 55px;}
main.sec-bg header.style2 {left: 3%;right: 3%;}

}


@media (max-width: 1445px) {
header.style2 .menu-box-inner nav {width: 88%;}
header.style2 .menu-box-inner .logo {margin-right: 35px;}
header.style2 .menu-box-inner nav > div > ul.top-info {margin-left: 0;}
header.style2 .menu-box-inner nav > div > ul.top-info > li {margin-left: 50px;}
header.style2 .menu-box-inner nav > div > ul.top-info > li + li::before {left: -25px;}
.jrny-inr {max-width: 1400px;}

}


@media (max-width: 1370px) {
header.style2 .menu-box-inner {padding: 0 15px;}
header.style2 .menu-box-inner .logo::before {right: -30px;}
header.style2 .menu-box-inner nav > div > ul.srch-lnks {margin-left: 50px;}
header.style2 .menu-box-inner nav > div > ul.srch-lnks::before {left: -25px;}
header.style2 .menu-box-inner nav > div > ul > li {margin-left: 30px;}
.jrny-inr {max-width: 1300px;}
.cnt-inf-wrp.style2 {max-width: 100%;min-width: 100%;margin-left: 0;}
.insta-prd-wrp {margin-left: -40px;width: calc(100% + 80px);}
.prtfl-dtl3-mn-img > h1 {font-size: 65px;}
main.sec-bg header.style2 .menu-box-inner nav > div > ul.top-info {display: none;}
main.sec-bg header.style2 .menu-box-inner nav > div > ul:last-child {margin-right: 40px;}
.fixed-bg.stl.styl2 {background-position: 820px center;}

}


@media (max-width: 1200px) {
.jrny-inr {max-width: 1140px;}
.prtfl-dtl3-mn-img > h1 {font-size: 55px;}

}


@media (max-width: 1024px) {
.container {padding: 0 15px;max-width: 90%;}
.jrny-inr,
.srv-bx2 > h4,
.cnt-inf-bx {max-width: 100%;}
.jrny-inr,
.prjcts-inrg.style4 {padding: 0 15px;}
header,
.logo2 {display: none;}
.rspn-hdr {display: block;}
main {padding-top: 0 !important;}
.srv-bx2,
.fn-fct-bx {padding: 0;}
.prtfl-inf-btns {margin-bottom: 15px;}
.prtfl-inf-btns > a {line-height: 40px;width: 40px;font-size: 14px;}
.vrtcl-hdr,
.facts-wrp,
main.vrtcl-hdr2 {padding-left: 0;}
.insta-prd-wrp {width: 100%;margin-left: 0;}
.pg-tp-wrp,
.about-me-inf {padding: 0;}
.wb-dvplmnt-dsc {margin-top: 0;}
.prtfl-inf2 {padding: 0 25px 20px;}
.prtfl-dtl3-mn-img > h1 {font-size: 45px;top: 27%;}
.prtfl-dtl-innr-inf {padding: 0 30px;}
.prtfl-dtl-lst.style2 {padding-left: 0;margin-top: 10px;}
.prd-thmb > a i {margin-right: 30px;}
.prd-dtl-thr-itm div.pull-left {width: 62%;}
.prd-dtl-thr-itm > div.pull-right > label {width: 38%;}
main.sec-bg {margin: 0;}
main.sec-bg:before {display: none;}
main.sec-bg .paddlr65 {padding: 0 !important;}
.owl-carousel.nav-vc .owl-nav {left: -30px;}

}


@media (max-width: 980px) {
.container {max-width: 100%;}
.cor-desc.style2,
.cor-vdo {width: 100%;}
.jrny-desc-car {padding-left: 50px;}
.bnr-prd-inf > h3 {font-size: 23px;}
.prtfl-dtl {margin-left: 0;width: 100%;}
.prtfl-car {padding: 0 15px;}
.owl-carousel.nav-vc .owl-nav {left: 10px;}

}


@media (max-width: 770px) {
.srv-wrp .sec-tl1 {margin: 0 0 40px;}
.fltr-btm > h3 {margin-right: 100px;}
.testi-car {margin-bottom: 70px;}
.choose-car.overlap-160 {margin-bottom: 0;}
.choose-plan-wrap .sec-tl1 {text-align: center;margin-top: 50px;}
.top-spac200, .spacing.top-spac200 {padding-top: 70px;}
.markt-inf,
.prd-dtl-desc {margin-top: 50px;}
.vdo-bx {margin: 0;width: 100%;}
.vdo-bx > img,
.prd-dtl-big-img > img {width: 100%;}
.cor-mckp,
.inf-mckp,
.error-mckp,
.pur-mckp {display: none;}
.bottom-spac220, .spacing.bottom-spac220 {padding-bottom: 110px;}
.cor-vdo {margin-top: 40px;}
.cor-vdo > p,
.sec-tl3 > p,
.bit-fea > p,
.bnc-cpt > p,
.prtfl-dtl-dec > p {font-size: 16px;line-height: 28px;}
.testi-thmb-itm,
.pur-sec {text-align: center;}
.testi-thmb-itm > img {margin: 0;float: none;display: inline-block;}
.testi-thmb-inf {float: left;width: 100%;}
.jrny-mckp {margin-bottom: 40px;}
.cnt-inf-itm-wrp {margin-bottom: -30px;}
.cnt-inf-itm-wrp .cnt-inf-itm {margin-bottom: 30px;}
.purch-wrp > img {display: none;}
.sec-tl3 > h2,
.sec-tl3 > p {max-width: 90%}
.srv-inf5 {margin: 0 0 50px;}
.srv-bx5:nth-child(2) .srv-inf5 {margin-top: 50px;}
.testi-car,
.bitc-calc {max-width: 100%;}
.bitc-calc {margin-top: 30px;}
.prd-qck-dta {text-align: center;padding: 50px 15px;}
.bnc-desc {margin-top: 0;}
.bnc-cpt {margin: 0 0 50px;}
.testi-car3 {padding: 0 80px;}
.wb-dvplmnt-car {margin-bottom: 30px;text-align: center;}
.wb-dvplmnt-car a {display: inline-block;}
.wb-dvplmnt-dsc {text-align: center !important;}
.wb-dvplmnt-dsc > h2::before {right: auto;left: 50%;margin-left: -35px;}
.wb-dvplmnt-dsc > h2 {font-size: 45px;}
.wb-dvplmnt-car .owl-dots {right: 20px;}
.sidebar-wrap {margin-bottom: 50px;}
.col-md-8 + .col-md-4 .sidebar-wrap {margin: 50px 0 0;}
.sidebar-wrap {padding: 0 !important;border: 0 !important;}
.cnt-inf {margin-bottom: 50px;}
.top-spac220, .spacing.top-spac220 {padding-top: 70px;}
.prtfl-inf2 {padding: 0 40px 30px;}
.prj-tl,
.prtfl-dtl-wrp.style2 .prtfl-dtl .scl-btns {margin-top: 0;}
.fltr-btns.style4 {padding-left: 30px;margin-bottom: 30px;}
.prtfl-dtl-dec {margin-top: 30px;}
.prtfl-dtl-innr {padding-top: 70px;}
.prtfl-dtl-innr-inf-wrp.overlap200 {margin-top: -60px;}
.prtfl-dtl3-mn-img > h1 {font-size: 40px;top: 35%;max-width: 60%;left: 15px;}
.prtfl-dtl-wrp.style3 .prtfl-dtl-dec {margin-top: 0;}
.prtfl-dtl-wrp.style4 .prtfl-dtl-inf > h1 {margin-bottom: 0;}


}


@media (max-width: 480px) {
.fltr-btm > h3 {margin: 0 0 20px;}
.vdo-info {width: 100%;}
.vdo-info > h2,
.cor-bx > p,
.cvl-sec,
.sec-tl3 > h2,
.sec-tl3 > p,
.markt-inf > h2,
.blog-dtl-inf > h1 {max-width: 100%;}
.text-center .pur-sec-inr,
.mor-desc-inr {max-width: 100%;}
.jrny-desc-inf > h2,
.cvl-sec > h2,
.pur-sec-inr > h2,
.sec-tl3 > h2,
.prc-crf .cor-vdo > h2,
.sec-tl1 > h2,
.sec-tl2 > h2,
.srv-inf5 > h2,
.srv-inf6 > h2,
.prd-qck-dta > h1,
.bnc-cpt > h3,
.wb-dvplmnt-dsc > h2,
.pg-tp-inr > h1,
.blog-dtl-inf > h1,
.prtfl-dtl-inf > h1,
.tab-pane > h2 {font-size: 33px;line-height: 38px;}
.tab-pane > span {font-size: 20px;}
.srv-bx3 {padding: 50px 30px;}
.overlap165 {margin-top: -95px;}
.fe-vdo-wrp > a i {line-height: 46px;width: 50px;height: 50px;}
.ftr-wrp.style2 .wdgt {padding: 0;}
.prc-itm {margin-bottom: -30px;}
.prc-itm .pln-bx {margin-bottom: 30px;}
.sec-tl3,
.prjcts-wrp.style3,
.prd-car,
.bnr-prdts {padding: 0 15px;}
.prjcts-inr {padding: 30px 15px;}
.testi-bx {text-align: center;}
.testi-bx > img {margin: 0 0 20px;}
.testi-car .owl-dots {left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.srv-inf6 {position: static;float: left;width: 100%;padding: 35px;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.srv-thmb6 {width: 100%;}
.one-page-nav {right: 30px;}
.prd-car .owl-nav {top: 10px;right: 25px;}
.bit-fea {text-align: center;}
.bit-fea > h1 {width: 100%;font-size: 40px;}
.bitc-calc > form input, 
.bitc-calc > form > div > div > span {margin: 5px 0;}
.crncy-tbl {overflow-x: auto;}
.bnc-btm {padding: 35px;}
.cntdn-lst > li {padding: 0 20px;}
.testi-car3 {padding: 0 20px;}
.error-sec > h1 {font-size: 150px;line-height: 100px;}
.error-sec > h5 {font-size: 25px;}
.frm-styl {margin-top: 30px;}
.about-me-inf > h1 {font-size: 33px;}
.about-me-inf > span {font-size: 20px;}
.about-me-inf > p {font-size: 16px;line-height: 28px;}
.about-me-inf {max-width: 100%;}
.prg-lst {padding-right: 0;}
.nws-frm > button.theme-btn {padding: 11.5px 30px;}
blockquote {font-size: 20px;padding: 0 20px 0 40px;}
.athr-bx,
.cmt-bx {text-align: center;}
.athr-bx > img,
.cmt-bx > img {float: none;margin: 0 0 30px;}
.cmt-thrd ul {padding-left: 0;}
.insta-glr > div > div {width: 33.334%;}
.prtfl-dtl-lst > li {padding-right: 0;width: 100%;}
.prtfl-pgn > div > div {width: 50%;}
.prtfl-glry > img {width: 100%;}
.prtfl-dtl-inf-lst > li {width: 100%;min-height: auto;}
.prtfl-dtl-innr-inf-wrp.overlap200 {margin-top: 0;}
.prtfl-dtl3-mn-img > h1 {position: static;padding-left: 15px;margin: 30px 0;max-width: 100%;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
.prd-bx.lst > * {width: 100%;display: block;}
.prd-bx.lst .prd-thmb + .prd-inf {padding: 30px 0 0;}
.prd-bx.lst .prd-thmb {min-width: 100%;}
.prd-dtl-thr-itm > div {width: 100% !important;margin: 5px 0;}
.prd-dtl-thr-itm > div label {width: 25% !important;}
.prd-dtl-tbs .tab-content {padding: 35px 0 0;}


}


@media (max-width: 420px) {
.cnt-inf-wrp {padding: 50px 30px;}
.cnt-inf-car .owl-dots, .cnt-inf-car2 .owl-dots { right: 15px;}
.srv-bx {padding: 40px 25px;}
.fact-bx::before {display: none;}
.fact-bx,
.prtfl-pgn > div > div {width: 100%;}
.srv-inf6 {padding: 35px 25px;}
.prd-qty-wrp {margin: 20px 0 0;}
.bnc-btm,
.cntdn-lst,
.bnc-cpt {text-align: center;}
.bnc-btm > div {width: 100%;}
.cntdn-lst > li span {font-size: 25px;margin-bottom: 0;}
.cntdn-lst > li {padding: 0 15px;}
.cntdn-lst > li p {font-size: 10px;}
.cntdn-lst > li::before {font-size: 20px;}
.bnc-tl {text-align: center;padding: 18px 20px;}
.error-sec > h1 {font-size: 120px;line-height: 90px;}
.error-sec > h5 {font-size: 23px;}
.fact-bx {padding: 0;}
.prtfl-inf2 {padding: 0 25px 20px;}
.prd-dtl-img-wrp > ul.prd-dtl-img-nv {left: 20px;}
.prd-dtl-thr-itm > div label {width: 100% !important;}

}


@media (max-width: 320px) {

}